*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
